@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    //var referralCode = HttpContextAccessor.HttpContext.Session.GetString("ReferralCode");
}

<!-- PAGE HEADER -->
<header class="page__header invert">
    <div class="logo-holder">
        <a class="logo-text d-none d-lg-block">
            <strong class="text-primary">#</strong>
            <strong>Edge</strong>Referral
        </a>
        <div class="rw-btn rw-btn--nav" data-action="aside-hide">
            <span></span>
        </div>
    </div>
    <div class="box-fluid"></div>    
</header>
<!-- //END PAGE HEADER -->